{% extends 'base.html' %}

{% block title %}Edit Post{% endblock %}

{% block content %}

<h1>Edit Post</h1>

<form method="POST" action="/posts/{{ post.id }}/edit">
    <input name="title" value="{{ post.title}}">
    <textarea name="content">{{ post.content }}</textarea>

    {% for tag in tags %}
        <input type="checkbox" value="{{tag.id}}" {% if tag in post.tags%}checked{% endif %} name="tags">
        <label> {{tag.name}}</label>
    {% endfor %}
    
    <a href="/users/{{ post.user_id }}">Cancel</a>
    <button type="submit">Edit</button>
</form>

{% endblock %}